@charset "utf-8";
#cover{width:100%;
height:200px;
left:0px;
right:0px;
top:0px;
position:absolute;
background-color:#DAF7A6;
}
#easy{width:100%;
height:60px;
left:0px;
right:0px;
top:200px;
position:absolute;
background-color:#C70039;

}
#easy1{width:10%;
height:60px;
left:0px;
top:0px;
position:absolute;
background:#581845;
text-align:center;
color:#DAF7A6
}
#easy2{width:90%;
height:60px;
right:0px;
top:0px;
position:absolute;
background-color:#C70039;
text-align:center;
color:#DAF7A6;
font-style:italic;
font-weight:900;
}
#pic{width:100%;
height:370px;
left:0px;
right:0px;
top:260px;
position:absolute;
background-color:yellow;
}
#pic1{width:40%;
height:370px;
left:0px;
top:0px;
position:absolute;
background-color:#008080;
}
#pic2{width:60%;
height:370px;
right:0px;
top:0px;
position:absolute;
background-color:yellowgreen;
}
#pic11{width:100%;
height:70px;
left:0px;
right:0px;
top:0px;
position:absolute;
background-color:#FF5733;
text-align:center;
color:#DAF7A6;
font-style:italic;
font-weight:900;
}
#pic12{width:100%;
height:300px;
left:0px;
right:0px;
top:70px;
position:absolute;
background-color:#008080;
}
#reg{width:48%;
height:355px;
left:0px;
top:0px;
position:absolute;
background-color:#808080;
border:8px inset #FF5733;
}
#log{width:48%;
height:355px;
right:0px;
top:0px;
position:absolute;
background-color:#808080;
border:8px inset #FF5733;
}


